.navContainer {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  height: 3.5rem;
  width: 100%;
  display: flex;
  gap: 3.5rem;
  font-weight: bolder;
}
.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5rem;
}

.link_container {
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:active {
  border-bottom: 1px solid red;
}
